@use 'variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    background-color: black;
    font-family: var.$fuentePrincipal;
    font-size: 1.6rem;
}
p{
    font-size: 2rem;
    line-height: 1.5;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0 0 5rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}