@use 'variables' as var;
@mixin telefono{
    @media (min-width: var.$telefono){
        @content;
    }
}
@mixin tablet{
    @media (min-width: var.$tablet){
        @content;
    }
}
@mixin computadora{
    @media (min-width: var.$computadora){
        @content;
    }
}
@mixin pantalla{
    @media (min-width: var.$pantalla){
        @content;
    }
}
@mixin grid($columnas, $espacio){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}
@mixin resetLista{
    margin: 0;
    padding: 0;
    list-style: none;
}